/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.css';
@import './font-awesome.css';

.flex-centered{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:24;
}

page{
    background-color: #02142B;
}

h1, .h1{
    font-family: 'Permanent-Marker', cursive;
    font-weight: bold;
}

h2, .h2{
    font-family: 'kalam', cursive;
    font-weight: bold;
}


.yellow{
    background-color: rgb(255, 219, 59);
}

.green{
    background-color: rgb(85, 207, 37);
}

.red{
    background-color: rgb(235, 55, 55);
}   

.pink{
    background-color: #EB00C7;
}

.pinkText{
    color: #EB00C7;
}

.blackText{
    color: rgb(28, 28, 29);
}

title{
    font-family: 'Kalam','Permanent Marker', cursive;
}

