/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme. 
The imported CSS rules must precede all other types of rules.
*/
@import '~nativescript-theme-core/css/core.css';
@import './font-awesome.css';

.flex-centered{
    flex-direction:column;
    justify-content:center;
    align-items:center;
    justify-items: center;
    padding:24;
}
 app{
     background-color: rgb(44,44,44);
 }

 /*TEXT STYLES*/

h1, .h1{
    font-size: 25;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
}

h2, .h2{
    font-size: 20;
    font-family: 'IBM Plex Mono', monospace;
}

h3, .h3{
    font-size: 13;
    font-family: 'IBM Plex Mono', monospace;
}

p, .p{
    font-size: 12;
    font-family: 'IBM Plex Mono', monospace;
}

.underline{
    text-decoration: underline;
}

/*Center things*/
.center{
    text-align: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    margin: 0 auto;
}

.bold{
    font-weight: bold;
}

.right{
    text-align: right;
    align-self: flex-end;
}

/* Adds margin beneath*/

.margin-under{
    margin-bottom: 20;
}

/*BUTTONS*/
.ubtn{
    background-color: transparent;
}

.btn{
    height: 50;
	width:125;
    border-radius: 20;
}

.icon{
    height: 30;
}

/* ICONS */

.cross{
    height: 15;
}

/*COLOURS*/

/* Yellow colors*/
.yellowb{
    background-color: rgb(255, 219, 59);
}
.yellow{
    color: rgb(255, 219, 59);
}

/*Green colors*/

.greenb{
    background-color: rgb(73, 174, 120);
}

.green{
    color: rgb(73, 174, 120);
}


 /*Grey colors*/
.greyb{
    background-color: rgb(44,44,44)
}
.grey{
    color: rgb(44,44,44)
}

/*White colors*/
.white{
    color: rgb(255,255,255);
}

.whiteb{
    background-color: rgb(255,255,255);
}

.whiteo{
    border: 2 solid rgb(255,255,255)
}

/*red colors*/
.red{
    color: rgb(235, 55, 55);
}   
.redb{
    background-color: rgb(235, 55, 55);
}

/*Orange colors*/

.orange{
    color: rgb(237, 117, 12)
}
.orangeb{
    background-color: rgb(237, 117, 12)
}

/* Pink colors */
.pinkb{
    background-color: rgb(171, 46, 152);
}

.pink{
    color: rgb(171, 46, 152);
}

/* Blue colors */
.blue{
    color: rgb(30, 92, 172);
}

.blueb{
    background-color: rgb(30, 92, 172);
}

.blackText{
    color: rgb(28, 28, 29);
}


